#js{
    width: 240px;
}
#java{
    width: 200px;
}
#css{
    width: 170px;
}
#python{
    width: 150px;
}
#php{
    width: 210px;
}
#bootstrap{
    width: 150px;
}
#jquery{
    width: 240px;
}
#codeigniter{
    width: 200px;
}
#opencv{
    width: 100px;
}
.bold{
    color: rgb(236, 236, 75);
    font-weight: bold;
}